<!DOCTYPE html>
<html lang="en">
<head>
  <title>EventManagement</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= javascript_importmap_tags %>
</head>
<body>

  <header>
    <% if user_signed_in? %>
      <p>Welcome, <%= current_user.email %></p>
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
    <% else %>
      <p><%= link_to 'Sign Up', new_user_registration_path %></p>
      <p><%= link_to 'Log In', new_user_session_path %></p>
    <% end %>
  </header>

  <%= yield %>

  <footer>
    <p>&copy; 2023 EventManagement</p>
  </footer>

</body>
</html>
